@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
.cover-design{
    width: 1440px;
height: 652px;
 padding-left: 80px;
background-image: url('../assets/Hero-bg.png');

}
.cover-image{
    width: 240.28px;
height: 240px;
margin: 0px 599.86px;

}
.cover-design h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
}
.cover-design p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.cover-design{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.btn{
    width: 208px;
height: 66px;
background: rgb(13, 19, 33);
color: white;
border-radius: 8px;
}
button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0px 616px;
margin-bottom: 44px;
}
/* why web section design start */
.why-web h2{
    width: 852px;
height: 39px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
}
.why-web p{
    width: 852px;
height: 52px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
}
.why-web h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why-web{
    margin: 0px 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.web-container{
    width: 1140px;
height: 1300px;
margin: 0 auto;
border: 2px solid red;
margin-top: 74px;
background-color: rgba(13, 19, 33, 0.02);
border-radius: 16px;
}
/* why web end */
/* i will do coding section start */
.code{
    width: 946px;
height: 336px;
margin-top: 100px;
margin: 0 auto;
display: flex;
justify-content: space-between;
font-size: 24px;
font-weight: 700;
background-color: white;
}
.text-container p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400
}
.text-container a{
    padding: 20px 12px;
    text-decoration: none;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
}
.text-container{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
/* i will do code design end */
/* i will help section start */
.help-container{
    width: 946px;
height: 336px;
margin: 0 auto;
margin-top: 32px;
background-color: white;
}
.help-content h3{
    color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
}
.help-content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.help-content{
    margin-left: 350px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
}

.images{
position: absolute;

}
.help-content a{
padding: 20px 12px;
text-decoration: none;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
}

/*  understand technology section start*/
.understand-container{
    width: 946px;
height: 336px;
margin:  0 auto;
margin-top: 32px;
display: flex;
justify-content: space-between;
background-color: white;
}
.understand-container h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
}
.understand-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.understand-container a{
    padding: 20px 12px;
    text-decoration: none;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
}
.understand-text{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
/* understand section end */
